body {
  color: white;
  background-color: #212121;
}

h1{
  padding-bottom: 20px;
}

#new-game-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: white;
  position:relative;
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 6px #5f5f5e;
}

#new-game-button:hover {
  box-shadow: 0 4px #5f5f5e;
  top:2px;
}

#new-game-button:active {
  box-shadow: 0 0 #5f5f5e;
  top:6px;
}


#placeholders {
  letter-spacing: 6px;
  font-size: 40px;
}

.crystal{
  height: 200px;
  width: 200px;

}